.contactUs {
  display: flex;
  min-width: 70vh;
  background-color: #cecaf7;
  padding: 100px 0;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactForm {
  width: 50%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
  padding: 30px;
  /* border: 1px solid black; */
  background-color: rgb(123, 154, 247);
  color: white;
  border-radius: 2rem;
}
.headingForm{
  margin: 15px;
}
.inputHere {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inputHere input,
.inputHere textarea {
  border: none;
  margin: 7px 0;
  border-radius: 5rem;
  padding: 12px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-btn {
  width: 80%;
  font-size: 1.2rem;
  background: rgb(255, 255, 255);
  border: none;
  padding: 7px;
  margin: 12px;
  margin-top: 30px;
  border-radius: 5rem;
}

.submit-btn:hover {
  color: royalblue;
}
@keyframes float {
  0% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(50px);
  }
}

.chatBubble {
  background: white;
  padding: 30px;
  border-radius: 5rem 0 5rem 5rem;
  position: absolute;
  right: 20rem;
  border: 2px solid;
  animation: float 2s ease-in-out infinite;
}
.chatBubble:hover {
  animation-play-state: paused;
}
.chatBubble h5 {
  margin: 10px;
}
.chatBubble span {
  color: blue;
  cursor: pointer;
}
.chatBubble span:hover {
  text-decoration: underline;
}