<<<<<<< HEAD
.about-section {
  width: auto;
  min-height: 80vh;
  background: linear-gradient(to right, #4874fa, #8caafd, #4874fa);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 50px 50px 50px;
}
.about-container{
    display: flex;
}
.about-container h2{
    cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 30px;
}
.about-container p{
    font-size: 1.2rem;
=======
.about-section {
  width: auto;
  min-height: 80vh;
  background: linear-gradient(to right, #4874fa, #8caafd, #4874fa);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 50px 50px 50px;
}
.about-container{
    display: flex;
}
.about-container h2{
    cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 30px;
}
.about-container p{
    font-size: 1.2rem;
>>>>>>> 29b66b9429399e29c93bf194e48b4cd8db1fc8ce
}