.Full-section {
  width: auto;
  min-height: 80vh;
  background: linear-gradient(to right, #4874fa, #8caafd, #4874fa);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 50px 0 50px;
}
.text p {
  margin: 10px 0;
}
.Full-container {
  display: flex;
}
.Full-container h2 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 30px;
}
.Full-container p {
  font-size: 1.2rem;
}
@keyframes floatImage {
  0% {
    transform: translateY(90px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(90px);
  }
}

.imageFull img {
  display: block; /* Ensures there's no extra space below the image */
  animation: floatImage 2s ease-in-out infinite;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.buttons button {
  background: royalblue;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 1.2rem;
  border-radius: 1rem;
  margin: 10px;
  border: 3px solid;
}

.buttons button:hover {
  background: rgb(30, 52, 117);
  border-radius: 5rem;
}
