/* Styling for the Navbar */
.Navbar {
  height: auto;
  background: linear-gradient(to right, #4874fa, #8caafd, #4874fa);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 0 0 2rem 2rem;
}
.Navbar a {
  color: white;
}
/* Styling for the app logo container */
.navLogo {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  position: relative;
  left: 0;
}

/* Styling for the logo image */
.navLogo img {
  width: 100px;
  animation: rotateAndSlideLogo 1.5s ease-in-out forwards;
  z-index: 9;
}

/* Styling for the text that appears after the animation */
.navLogoText {
  opacity: 0;
  transform: translateX(-100%);
  position: absolute;
  right: -400px; /* Adjust based on the final position after sliding */
  animation: slideText 0.5s ease-in-out 1.5s forwards;
  width: auto;
}

.navLogoText span {
  font-size: 1.2rem;
}
.navLogoText h1 {
  width: 900px;
  display: block;
}
/* Keyframe animation for rotating and sliding the logo */
@keyframes rotateAndSlideLogo {
  0% {
    transform: rotate(0deg);
  }
  66% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg) translateX(-500px);
  }
}

/* Keyframe animation for sliding the text into view */
@keyframes slideText {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Additional CSS for Hamburger Button and Sliding Menu */

/* Styling for the hamburger button */
.hamburger {
  cursor: pointer;
  font-size: 24px;
  user-select: none;
  position: absolute;
  right: 20px;
  z-index: 11;
}

/* Styling for the sliding menu */
.sideMenu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: royalblue;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1000;
}

.sideMenu.open {
  left: 0;
}

/* Styling for the menu items */
.sideMenu ul {
  list-style-type: none;
  padding: 0;
}

.sideMenu ul li {
  padding: 10px 20px;
  text-align: left;
  color: #fff;
  cursor: pointer;
}

.sideMenu ul li:hover {
  background-color: rgb(115, 148, 248);
}
